.bm-card {
    width: 25vw;
    min-height: 300px;
    background-color: #3578e5;
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: left;
    position: relative;
    cursor: pointer;
    overflow: visible;
    transition: filter 150ms ease-in-out;
}

.bm-card:hover {
    filter: brightness(1.1);
}

.bm-card__icon-wrapper {
    position: absolute;
    top:2vw;
    left: 6vw;
    transform: translateX(-50%);
    width: 300px;
    height: 300px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bm-card__icon-wrapper img {
    width: 18vw;
    height: 18vw;
    object-fit: contain;
}

.bm-card__title {
    margin-top: 7rem;
    margin-left: 12vw;
    font-size: 2vw;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 0.5rem;  /* small gap to subtitle */
}

.bm-card__subtitle {
    margin: 0;               /* reset all margins */
    margin-left: 12vw;      /* line it up with the title */
    font-size: 0.9rem;
    line-height: 0.1;        /* normal line spacing */
}

