.dhp-card {
    width: 500px;
    min-height: 300px;
    background-color: #3578e5;
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: left;
    position: relative;
    cursor: pointer;
    overflow: visible;
    transition: filter 150ms ease-in-out;
}

.dhp-card:hover {
  filter: brightness(1.1);
}

.dhp-card__icon-wrapper {
  position: absolute;
  top: -20px;
  right: 20%;
  transform: translateX(-50%);
  width: 300px;
  height: 300px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dhp-card__icon-wrapper img {
  width: 350px;
  height: 350px;
  object-fit: contain;
}

.dhp-card__title {
  margin-top: 8rem;
  margin-left: 15rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 0.5rem;
}

.dhp-card__subtitle {
  margin-top: 2rem;
  margin-left: 19rem;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.2;
}
