.registration-card {
  width: 25vw;
  min-height: 300px;
  background-color: #3578e5;
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  color: white;
  text-align: left;
  position: relative;
  cursor: pointer;
  overflow: visible;
  transition: filter 500ms ease-in-out;
}

.registration-card:hover {
    background-color: #1B293E;
}

.registration-card__icon-wrapper {
  position: absolute;
  top: 0.8vw;
  bottom: 1%;
  left: 12vw;
  transform: translateX(-50%);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration-card__icon-wrapper img {
  width: 17vw;
  object-fit: contain;
}

.registration-card__title {
  margin-top: 7rem;
  font-size: 1.6vw;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 0.25rem;
}

.registration-card__subtitle {
  line-height: 0.1;
  font-size: 0.8vw;
  margin: 0;
}
